{{!< default}}

<article class="article-single simple">

    <header class="article-header">
        <div class="article-header-inner" style="margin-top: 0px; opacity: 1;">
            <time class="article-time">dang...</time>
            <h2 class="article-title">404, 500, or something else went wrong :(</h2>
            <p class="article-subtitle"></p>
        </div>
    </header>

    <div class="article-body">
        <div class="article-body-inner">
            <p>
                <pre class="language-javascript"><code class="language-javascript">function main() {
    var you = window.you; // don't do it
    console.warn(you); // don't u dare
    ERROR32(you); // how could u? :(
}</code></pre>
            </p>
            <p>
                Perhaps try navigating back <a href="/">home</a>?
            </p>

            <br><br>
        </div>
    </div>
</article>
