{{!< default}}
{{#post}}

<article class="article-single simple {{post_class}}">

    <header class="article-header">
        <div class="article-header-inner" style="margin-top: 0px; opacity: 1;">
            <time class="article-time">{{date published_at format="MMMM Do, YYYY"}}</time>
            <h2 class="article-title">{{title}}</h2>
            <p class="article-subtitle"></p>
        </div>
    </header>

    <div class="article-body">
        <div class="article-body-inner">
            {{content}}
        </div>
    </div>

</article>

{{/post}}
