$leitura: "leitura-news", "Georgia", serif
$inconsolata: "Inconsolata", "Andale Mono", "Monaco", "Courier New", monospace
$proxima: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif

p
    strong
        font-weight: 500

@import base/_stock
